<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.dao.LabelMapper">
  <resultMap id="BaseResultMap" type="com.spider.model.Label">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="labelName" jdbcType="VARCHAR" property="labelname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, labelName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.spider.model.Label">
    insert into Label (id, labelName)
    values (#{id,jdbcType=INTEGER}, #{labelname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spider.model.Label"  useGeneratedKeys="true" keyProperty="id">
    insert ignore into Label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="labelname != null">
        labelName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="labelname != null">
        #{labelname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <insert id ="insertBatch" parameterType="java.util.List" useGeneratedKeys="true"  >
	    insert  ignore into Label
	    (labelName)
	    values
	     <foreach collection ="list" item="labelItem" index= "index" separator =",">
	         (
			#{labelItem.labelname,jdbcType=VARCHAR}
	         )
	      </foreach >
 	</insert>
 	<select id="selectIdBatch" parameterType="java.util.List" resultType="java.lang.Integer">
 		select id 
 		from Label
 		where labelName in
 		 <foreach collection="list" index="index" item="item" open="(" separator="," close=")">    
       		 #{item,jdbcType=VARCHAR}    
   		 </foreach>  
 	</select>
  <update id="updateByPrimaryKeySelective" parameterType="com.spider.model.Label">
    update Label
    <set>
      <if test="labelname != null">
        labelName = #{labelname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spider.model.Label">
    update Label
    set labelName = #{labelname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>